.menu-site{
    justify-content: center;
    display: flex;
    gap: 40px;
}

.contato-site{
    justify-content: center;
    display: flex;
    text-align: center;
}

.imagens{
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.itens-lista{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.descricao-ponto-turistico{
    margin-bottom: 40px;
    text-align: justify;
    font-size: 20px;
}

.pontos-turisticos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#titulo-pontos{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.lista-pontos{
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 600px;
    width: 100%;
    list-style: none;
}

.lista-pontos li{
    margin-bottom: 80px;
}

.formulario-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-contato h1{
    margin-bottom: 50px;
}

.formulario-contato form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-contato label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.campo-grupo{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px;
    width: 350px;
}

.campo-grupo label {
    font-weight: bold;
    width: 70px;
    font-size: 25px;
    text-align: right;
    margin-right: 60px;
    display: inline-block;
}

.botao-enviar{
    display: flex;
    justify-content: left;
    width: 350px;
    margin-top: 15px;
}

.botao-enviar button{
    margin-left: 140px;
}